<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzdx.spzj" >

    <!-- Read external storage is used for the FileSource -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Write external storage is used to write recordings and log files to the SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Internet is used to connect to local and remote rtl_tcp instances -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <!-- Declare permissions to read and write the bookmarks database -->
    <permission android:name="com.yzdx.spzj.permission.READ_BOOKMARKS"
                android:label="Read access to the bookmarks of RF Analyzer" />
    <permission android:name="com.yzdx.spzj.permission.WRITE_BOOKMARKS"
                android:label="Write access to the bookmarks of RF Analyzer" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.amap.api.v2.apikey" android:value="f0d1e91817288538c19cb5187cc19304">

        </meta-data>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>

        <activity android:name=".CheckActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".InfoActivity"
            android:parentActivityName=".MainActivity">
        </activity>


        <provider
            android:name=".BookmarksProvider"
            android:authorities="com.mantz_it.spzj.provider"
            android:readPermission="com.mantz_it.spzj.permission.READ_BOOKMARKS"
            android:writePermission="com.mantz_it.spzj.permission.WRITE_BOOKMARKS">
        </provider>

        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>
